body {
    background-image: url('https://www.pngmagic.com/product_images/baby-light-blue-aesthetic-background.jpg');
}

#task-card {
    text-align: start;
    border: .5px solid black;
    max-width: 1200px;
    padding: 1%; 
}

#view {
    float: right;
}

#delete {
    float: right;
}

#task-cards {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    max-width: 1200px;
    padding: 1%; 
    width: 65%;
}

#view-card {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    max-width: 1200px;
    padding: 1%; 
    width: 65%;
}

.center {
    text-align: center; 
}

#nav-link-home {
    padding: 2%
}

#nav-link-tasks {
    padding: 2%
}

#nav-link-calendar {
    padding: 2%
}

#pages {
    background: lightcyan;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    max-width: 1200px;
    padding: 1%; 
    width: 65%;
}